body{
    background-color: #dae5f7;
    Font-size: 20px;
}
.code{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: white;
    width: 325px;
    height: 548px;
    display: flex;
    flex-direction: column;
    border-radius: 3%;

}
img{
    width: 250px;
    height: 250px;
    margin: 20px auto;
    border-radius: 6%;
}
p{
    text-align: center;
    font-size: 19px;
    margin: 20px;
}
h1{
    text-align: center;
    font-size: 25px;
    margin: 20px;
}